<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	<context:property-placeholder location="classpath*:application-properties.xml" />
	
	<!-- context loader listener에게 scan 되기 위해 -->
	<context:annotation-config />
	
	<!-- <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close"
		p:driverClassName="${h2DB.driverClassName}"
		p:url="${h2DB.url}"
		p:username="${h2DB.username}"
		p:password="${h2DB.password}"
	/> -->
	
	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		p:driverClassName="${mariaDB.driverClassName}"
		p:url="${mariaDB.url}"
		p:username="${mariaDB.username}"
		p:password="${mariaDB.password}"
	/>
	
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
		p:dataSource-ref="dataSource"
	/>
		<!-- <property name="dataSource-ref" value="dataSource"></property> -->
	
	<tx:annotation-driven/>
	
	<bean id="mainController" class="me.w4springrain.controller.main.MainController"/>
	<bean id="userController" class="me.w4springrain.controller.user.UserController"/>
	<bean id="userDao" class="me.w4springrain.dao.user.UserDao" p:dataSource-ref="dataSource"/>
	
</beans>