<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
        http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.1.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<!-- controller로 인식할 영역 지정 -->
	<context:component-scan base-package="me.w4springrain">
		<!-- <context:include-filter type="annotation"
			expression="org.springframework.stereotype.Controller" /> -->
	</context:component-scan>

	<!-- controller mapping을 annotation으로 하겠다는 설정 -->
	<mvc:annotation-driven>
		<!-- <mvc:argument-resolvers>
			<bean
				class="net.slipp.support.web.argumentresolver.LoginUserHandlerMethodArgumentResolver"
				p:sessionService-ref="sessionService" />
		</mvc:argument-resolvers> -->
	</mvc:annotation-driven>

	<mvc:resources mapping="/assets/**" location="/assets/" />
	<mvc:resources mapping="/images/**" location="/images/" />
	<mvc:resources mapping="/favicon.ico" location="/favicon.ico" />

	<bean id="jspViewResolver"
	class="org.springframework.web.servlet.view.InternalResourceViewResolver"
	p:prefix="/WEB-INF/jsp/" p:suffix=".jsp" />
		
	<!-- <bean id="jspViewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		controller에서 view 이름을 결정할때 자동 매핑
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
		<property name="order" value="1" />
	</bean> -->
</beans>